langgraph
langchain
langchainhub
langchain_community
langchain_groq
langchain-mistralai
ipython
jupyter
langchain_huggingface
bs4
tiktoken
chromadb
python-dotenv
langgraph-checkpoint-sqlite
ddgs
langchain-mcp-adapters
pypdf
faiss-cpu
psycopg[binary,pool]
langgraph-checkpoint-postgres
docx2txt
streamlit
